<div class="container">

<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in items">
        {{ item.short_name }} : {{ item.name}} : {{ item.description}} 
        <button ng-click="onRemove({index: $index})">Don't want this one!</button>
    </li>
</ul>

</div>
<div class="items">
    <br>
    <div ng-repeat="item in found.items">
        <button ng-click="found.onRemove({id: $index});">Don't want this one!</button>
        <span><strong>Name:</strong> {{item.name}}, <i>{{item.short_name}}</i></span>
        <span><strong>Description:</strong>{{item.description}}</span>
    </div>
    <div class="error" ng-hide="found.items.length">Nothing found</div>
</div>